@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
    --primaryFont: 'Space Mono', monospace;
    --secondaryFont: 'Inconsolata', monospace;
    --black: #333333;
    --gray: #4F4F4F;
    --white: #FFFFFF;
    --light-gray: #BDBDBD;
}

/* Reset CSS */
* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    list-style-type: none;
    outline: 0;
    border: none;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--primaryFont);
}

a {
    text-decoration: none;
}

/* //Reset CSS */

.container {
    width: 80%;
    margin: 0 auto;
}

/* Header */
header {
    padding-top: 40px;
}

header .logo {
    font-weight: 700;
    font-size: 24px;
    color: var(--black);
    letter-spacing: -2px;
    font-family: var(--secondaryFont);
}

/* //Header */

/* Content */
.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 100px;
    padding-top: 100px;
}

.content .left img {
    width: 100%;
    height: auto;
}

.content .right h1 {
    font-size: 64px;
    font-weight: 700;
    color: var(--black);
}

.content .right p {
    color: var(--gray);
    font-size: 24px;
    max-width: 60%;
    padding-bottom: 64px;
}

.content .right a {
    background-color: var(--black);
    color: var(--white);
    padding: 24px 43px;
}

/* //Content */


/* Footer */
footer {
    margin-top: 50px;
}

footer div {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: var(--light-gray);
    padding-bottom: 24px;
}

footer div a {
    text-decoration: underline;
    display: inline;
    color: var(--light-gray);
}

/* //Footer */

/* mediaQuery */
@media only screen and (max-width: 567px) {
    header {
        padding-top: 20px;
    }

    .container {
        width: 92%;
        margin: 0 auto;
    }

    .content {
        display: block;
        padding-top: 10px;
    }

    .content .right h1 {
        font-size: 48px;
    }

    .content .right p {
        color: var(--gray);
        font-size: 18px;
        max-width: 100%;
    }
}

/* //mediaQuery */